<%=t('question.ques')%>:<br>
<%if @question_type.id == 3%>
<%= text_area_tag "description",'', :class=>"validate[required,custom[onlyUnderscoreSp]] text-input description", :id=>"question-text", :style=>"width: 426px;  height: 117px; border: 1px solid rgb(209, 209, 209);" %>
<%else%>
<%= text_area_tag "description",'', :class=>"validate[required,funcCall[checkHELLO]] text-input description", :id=>"question-text", :style=>"width: 426px;  height: 117px; border: 1px solid rgb(209, 209, 209); float:left;" %>
<%end%>
  <div class="clear"></div>
 <script type="text/javascript" src="/javascripts/ckeditor/build/ckeditor.js"></script>
 
                 <script>
                         var editor1;
                         ClassicEditor
                                 .create( document.querySelector( '#question-text' ) )
                                 .then( editor => {
                                         console.log( editor );
                                         editor1=question-text;
                                         editor.modal.document.on("change", ()=> {execFunc();})
                                 } )
                                 function execFunc(){
                                         document.getElementsByName("description")[0].value = editor1.getData();
                                         console.log(document.getElementById("question-text").value);
                                 }
                                 
                 </script>
         </body>
 </html>