	<div style="display:flex; align-items:center; margin-top:1.5vh;">
	<h3 style="margin-right:6vw;">Options</h3>

	<table class="answer_name" style="float:left; width:100%; padding:0; margin:0;" >
		<tr><th></th>
			
		</tr>
		<% 1.upto(2) do |i| %>
				<tr class="editor_last">
					<td style='width:20px;margin-left:3vw;text-align:center; vertical-align:middle;'> <%= check_box_tag "fields[#{i}][is_answer]", '1', false, :class=>"validate[maxCheckbox[1]] checkbox", :style=>"margin-left: 10px; margin-right: 5px;" %></td>
					<td>
				  <%= text_area_tag "fields[#{i}][name]",'', :class=>"validate[required,funcCall[checkHELLO]] text-input options",:style=>"width:30vw; height:2vh;",:placeholder=>"option" %>
				 
				</tr>				<br />
				<% end %>

        </table>
		</div>