body {
  background: #f26f29;
}
.content {
  display: flex;
  width: 100vw;
}
.left-side {
  width: 10vw;
  background: #f26f29;
  height: 100vh;
}

.right-side {
  width: 90vw;
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
  position: relative;
  right: 2vw;
}
.loginWrapper {
  height: fit-content !important;
}
.loginerror {
  height: fit-content;
}
.loginContainer {
  margin-bottom: 20vh;
}
#username {
  background: white;
  height: 3.8vh;
  padding-left: 10px;
}
#user_session_password {
  background: white;
  height: 3.8vh;
  padding-left: 10px;
}

.loginCol {
  background: #f26f29;
  color: white;
  width: 21.64vw;
  height: 30.4vh;
  border-radius: 0.5rem;
  display: flex;
}
.logo {
  background: white;
  height: 26.5vh;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0.5vh;
  box-shadow: 10px 10px 10px rgb(33 33 33 / 20%);
  position: relative;
  right: 2vw;
}
.logo img {
  width: 10.82vw !important;
}

#class_form {
  margin-left: 0 !important;
}
.loginForm .inwr {
  margin-bottom: 0.5vh;
  margin-left: 2vw;
}
.green-button {
  width: 15.8vw !important;
  height: 3.8vh;
  font-weight: normal !important;
  border-radius: 5px !important;
  margin-left: -6.3vw;
}
.green-button:hover {
  background: white !important;
  font-weight: bolder !important;
  color: #f26f29 !important;
  cursor: pointer !important;
}
.loginForm .inwr input {
  width: 14.8vw !important;
}
.loginForm .block_col {
  margin-top: 2vh !important;
}
.loginForm .remeCol {
  margin-left: -4vw;
  margin-bottom: 1vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keyboard {
  width: 18px;
  height: 18px;
}
