.formErrorContent {
  font-size: 1rem !important;
  margin-left: 10vw !important;
  /* background-color: white !important;
  color: #f26f29 !important; */
}
.formErrorArrow {
  margin-left: 10vw !important;
  /* display: none !important  ; */
}
