<div class="about_virtualx" style="text-align:justify; text-decoration:none;">
Teacher-Studio  is an online examination management system which provides a basis for effective fulfillment of conducting online exam in an efficient manner. 
</div>




