<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="loginForm pt20">

  <%= form_for @user_session, :url => {:action => "create"}, :html => { :id => "class_form"} do |f|%>
    <div class="login-container">
    <div class="block_col">
     
      <div class="inwr">
        <%= f.text_field :login, :id => "username", :class=>"validate[required,funcCall[checkHELLO]] text-input",:placeholder=>"Login id"%>
       
        
       

        <i class="fa fa-user" style="font-size:1.8vh;color:#f26f29;"></i> 
      </div>
    </div>
    <div class="block_col">
     
      <div class="inwr">
        <%= f.password_field :password, :class=>"validate[required,funcCall[checkHELLO]] text-input",:placeholder=>"Password"%>
        <i class="fa fa-eye" id="show-password" style="font-size:2vh;color:#f26f29"></i>
      </div>
    </div>
    
    <div class="rembr_butn_box">
     
      <div class="btncol">
        <%= f.submit t('general.login'), :class=>'green-button', :value=>'Login'%>
      </div>
    </div>
  <%end%>
</div>
</div>

<script type="text/javascript">
const check=[]
document.querySelector('#show-password').addEventListener('click',()=>{
  if(check[0])
    {
      document.querySelector('#user_session_password').type='password'
      document.querySelector('#show-password').className='fa fa-eye'
      check.pop();
    }
  else{
    check.push('1');
    document.querySelector('#user_session_password').type='none'
    document.querySelector('#show-password').className='fa fa-eye-slash'
  }
 
})
</script>
