

<div class="loginForm pt20">
  <%= form_for @user_session, :url => {:action => "create"}, :html => { :id => "class_form"} do |f|%>
    <div class="block_col">
     
      <div class="inwr">
        <%= f.text_field :login, :id => "username", :class=>"validate[required,funcCall[checkHELLO]] text-input",:placeholder=>"Login id"%>
      </div>
    </div>
    <div class="block_col">
     
      <div class="inwr">
        <%= f.password_field :password, :class=>"validate[required,funcCall[checkHELLO]] text-input",:placeholder=>"Password"%>
      </div>
    </div>
    
    <div class="rembr_butn_box">
     
      <div class="btncol">
        <%= f.submit t('general.login'), :class=>'green-button', :value=>'Login'%>
      </div>
    </div>
  <%end%>
</div>

<script type="text/javascript">

</script>
