<!-- 
  _header.html.erb
  Description: Partial Layout for the header portion of the application
  Created on: October 11, 2010
  Last modified on: March 18, 2013
  Copyright 2013 PIT Solutions Pvt. Ltd. All Rights Reserved.
-->


  <div class="logoHolder">
  
    <div class="virtualxLogo"><%= image_tag "telescholr_logo.jpg", :size => "236x60", :alt=>'img' %></div><button id="close" class="green-button" type="button" onclick="closeCurrentTab()">Close</button>
    <script type="text/javascript">
    const deleteAllCookies = () => {
  const cookies = document.cookie.split(";");
  for (const cookie of cookies) {
    const eqPos = cookie.indexOf("=");
    const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
  }
}



    function closeCurrentTab() {
        let conf = confirm("Are you sure, you want to close this tab?");
        if (conf == true) {
          deleteAllCookies()
          window.close() 

        }
       
    }
  </script>
  </div>
  