<!-- 
  _header.html.erb
  Description: Partial Layout for the header portion of the application
  Created on: October 11, 2010
  Last modified on: March 18, 2013
  Copyright 2013 PIT Solutions Pvt. Ltd. All Rights Reserved.
-->


  <div class="logoHolder">
 
    <div class="virtualxLogo"><%= image_tag "telescholr_logo.jpg", :size => "236x60", :alt=>'img' %></div>
  </div>